.App {
  width: 750px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

/* Navbar */

.Navbar {
  display: flex;
  justify-content: space-between;
}

#navlinks {
  display: flex;
  gap: 10%;
  justify-content: flex-end;
}

.Navbar a {
  color: black;
  margin-bottom: 40px;
}

.Navbar h1 {
  font-family: "Press Start 2P", cursive;
}

/* Homepage */

body {
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png");
  background-size: 100%;
}

#typesearch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5%;
}

.typeselect {
  display: flex;
  flex-direction: row-reverse;
}

/* Pokedex */

.pokedex {
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pokedex img {
  width: 120px;
}

.onePoke {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.Grass {
  background-color: #7ac74c;
}

.Fire {
  background-color: #ee8130;
}

.Water {
  background-color: #6390f0;
}

.Normal {
  background-color: #a8a77a;
}

.Electric {
  background-color: #f7d02c;
}

.Fighting {
  background-color: #c22e28;
}

.Flying {
  background-color: #a98ff3;
}

.Psychic {
  background-color: #f95587;
}

.Ground {
  background-color: #e2bf65;
}

.Ghost {
  background-color: #735797;
}

.Ice {
  background-color: #96d9d6;
}

.Rock {
  background-color: #b6a136;
}

.Dragon {
  background-color: #6f35fc;
}

.Steel {
  background-color: #b7b7ce;
}

.Fairy {
  background-color: #d685ad;
}

.Bug {
  background-color: #a6b91a;
}

.Dark {
  background-color: #705746;
}

.Poison {
  background-color: #a33ea1;
}

/*Pagination*/

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 3%;
  justify-content: flex-start;
  font-size: 0.8em;
}

ul.pagination-container {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

/*Single Pokemon*/

.SinglePokemon {
  display: flex;
  flex-direction: column;
}

.SinglePokemon h1 {
  font-family: "Press Start 2P", cursive;
  margin: 0px;
}

.SinglePokemon h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
}

#stats p {
  background-color: palegoldenrod;
  padding: 2px;
  font-size: 1.2em;
  padding-left: 10px;
  width: 200px;
  font-family: "Roboto", sans-serif;
}

#singlePokemon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: whitesmoke;
  padding: 0px 20px;
}

.SinglePokemon img {
  width: auto;
  height: 350px;
}

#imgstats {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

#Grass {
  background-color: #7ac74c;
}

#Fire {
  background-color: #ee8130;
}

#Water {
  background-color: #6390f0;
}

#Normal {
  background-color: #a8a77a;
}

#Electric {
  background-color: #f7d02c;
}

#Fighting {
  background-color: #c22e28;
}

#Flying {
  background-color: #a98ff3;
}

#Psychic {
  background-color: #f95587;
}

#Ground {
  background-color: #e2bf65;
}

#Ghost {
  background-color: #735797;
}

#Ice {
  background-color: #96d9d6;
}

#Rock {
  background-color: #b6a136;
}

#Dragon {
  background-color: #6f35fc;
}

#Steel {
  background-color: #b7b7ce;
}

#Fairy {
  background-color: #d685ad;
}

#Bug {
  background-color: #a6b91a;
}

#Dark {
  background-color: #6f35fc;
}

#Poison {
  background-color: #a33ea1;
}

.typetag {
  width: 70px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
}

.types {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.typetag p {
  padding: 0px;
  margin-top: 2px;
  font-weight: bold;
  font-style: italic;
}

.singlePokeButton {
  margin-left: auto;
  margin-right: auto;
}

.singlePokeButton button {
  background-color: palegoldenrod;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
  border: 2px solid black;
  cursor: pointer;
}

/*Fight */

#fight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#fight img {
  max-width: 200px;
}

/*PastFights*/

.oneFight {
  display: flex;
}

.oneFight img {
  width: 60px;
}
